.table-name {
    text-align: center;
}
th, tr {
    text-align: center;
}
button {
    width: 100%;
}
#title {
    margin-left: 1%;
    margin-right: 5%;
    font-size: 20px;
}
.active {
    text-decoration: underline;
    font-weight: bold;
}
.nav-item:hover {
    text-decoration: underline;
}
.nav-item {
    font-size: 18px;
}